/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

// メッセージ一覧
#message-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem 1rem 8rem 1rem;
}

// メッセージ投稿フォーム
footer {
  max-width: 768px;
  padding: 1rem;
  margin: 0 auto;
  background-color: white;
}
// ボタン無効化時のスタイル
.btn-primary.disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: auto;
}